{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block child_assets %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="/build/jquery-ui.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    {# // <script src="/build/jquery-ui.min.js" type="text/javascript"></script> #}
    <script src="/build/carts.js" type="text/javascript"></script>
{% endblock %}

{# {% block child_javascripts %}
{% endblock %} #}

{% block body %}
    {# Set these variables here so they override on blank slots #}
    {% set assetTag = '' %}
    {% set assetId = '' %}
    {% set personId = '' %}
    {% set isFinished = 0 %}
    {% set isNeedsRepair = 0 %}
    {% set notes = '' %}
    
    {# INPUT_ERRORS #}
    {% if insert_errors is defined %}
        {% if insert_errors is not empty %}
            <div class="container">
                <div class="alert alert-danger" role="alert">
                    {{ insert_errors }}
                </div>
            </div>
        {% endif %}
    {% endif %}
    {# END_INPUT_ERRORS #}
    {# ROUTE_SHOW_ALL #}
    {% if cartData is defined %}
        <div id="cbcontainer">
        {% for cart in cartData %}
            <table class="cart-render-table">
                <tr>
                {% for side in cart %}
                    <td>
                        <table class="cart-render-inner-table">
                            {% for row in side %}
                                <tr class="cart-render-row">
                                    {% for slot in row %}
                                        <td class="cart-render-cell">
                                            {# Set the slot information from the database #}
                                            {% set assetTag = slot.assetTag|default('') %}
                                            {% set assetId = slot.assetId|default('') %}
                                            {% set personId = slot.personId|default('') %}
                                            {% set isFinished = slot.isFinished|default(0) %}
                                            {% set isNeedsRepair = slot.needsRepair|default(0) %}
                                            {% set notes = slot.notes|default('') %}
                                            <a class="openSlotNumber cart-slot" data-bs-placement="top" title="{{ slot.slotNumber }}" data-bs-toggle="modal" data-bs-target="#slotModal" data-notes = "{{ notes }}" data-needs-repair="{{ isNeedsRepair }}" data-is-finished="{{ isFinished }}" data-slot-number="{{ slot.slotNumber }}" data-slot-id="{{ slot.slotId }}" data-slot-assettag="{{ assetTag }}" data-slot-assetid="{{ assetId }}" data-slot-assignedpersonid="{{ personId }}">{{ slot.slotNumber|slice(1,4) }}</a>
                                        </td>
                                    {% endfor %}
                                </tr>
                                {% if not loop.last %}
                                    <tr>
                                        <td class="cart-render-spacer" colspan="100%"></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </td>
                {% endfor %}
                </tr>
            </table><br />
        {% endfor %}
        </div>
    {% endif %}
    {# END_ROUTE_SHOW_ALL #}
    
    {# EDIT_SLOT_MODAL #}
    <div class="modal fade" id="slotModal" data-bs-backdrop="static" tabindex="-1" data-bs-keyboard="false" aria-labelledby="Slot Modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Slot&nbsp;</h4><h4 class="modal-title my-modal-slot-title-highlight" id="slotModalTitle">1111</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {{ form_start(editForm) }}
                    <div class="modal-body">
                        <div class="form-row mb-3">
                            {{ form_widget(editForm.inputPersonName) }}
                        </div>
                        <div class="form-row mb-3 input-group">
                            {{ form_widget(editForm.inputAssetTag) }}
                            <div class="input-group-append">
                                {{ form_widget(editForm.inputNumberGenerator) }}
                            </div>
                        </div>
                        <div class="form-row mb-3">
                            {{ form_row(editForm.inputAssetNotes) }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-check form-check-inline mr-2">
                            {{ form_row(editForm.needsRepair)}}
                        </div>
                        <div class="form-check form-check-inline mr-2">
                            {{ form_row(editForm.slotFinished)}}
                        </div>
                        {{ form_row(editForm.slot_id) }}
                        {{ form_row(editForm._token) }}
                        {{ form_row(editForm.clear, { attr: { 'data-slotid': 0 } }) }}
                        {{ form_row(editForm.repair) }}
                        {{ form_row(editForm.save) }}
                    </div>
                {{ form_end(editForm, {render_rest: false}) }}
            </div>
        </div>
    </div>
    {# END_EDIT_SLOT_MODAL #}
{% endblock %}
